/* .Footer-class{
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
} */

.footer-text {
    color: #959595;
    font-size: 1em;
    font-weight: 400;
}

.footer-text-bold {
    color: #959595;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Roboto";
}