nav {
    display: flex;
    background-color: #1b2430;
    color: white;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    position: relative;
    height: 70px; /* Fixed height for navbar */
}

.navbar-left {
    display: flex;
    align-items: center;
}

#response {
    display: none;
}

#logo-1 {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

.menu {
    flex-grow: 1;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active::after {
    color: #17cf97;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

@media screen and (max-width: 769px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    #response {
        display: block;
    }

    #response i {
        font-size: 24px;
        cursor: pointer;
        display: block;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 70px; /* Position the menu exactly below the navbar */
        left: -300px;
        width: 300px;
        height: calc(100vh - 70px); /* Adjust height to account for navbar */
        background: #2a3239;
        padding: 20px 10px;
        transition: left 0.3s ease-in-out;
    }

    #navbar.active {
        left: 0px;
        animation: slideIn 0.3s forwards;
    }

    @keyframes slideIn {
        from {
            left: -300px;
        }
        to {
            left: 0px;
        }
    }

    #navbar li {
        margin-bottom: 25px;
    }
}

.icon-green {
    color: green;
}

.cash-icon {
    display: flex;
    flex-direction: column;
}

.cash-class{
    border: 2px solid white;
    padding: 10px;}
